
/*=============================
  Navigation
=============================*/
.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav .nav-item {
  margin-right: 10px;
}
.nav .nav-item:last-child {
  margin-right: 0;
}